table {
  width: 100%;
}

.div_tabla-vehicles {
  width: 90%;
  margin: 0 auto;
}

.mat-table {
  margin-top: 10px;
}

.div-search {
  float: right;
}

.div-nuevo-vehicle {
  float: right;
  margin-top: 10px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}
